<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gloria.com</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/css.css" rel="stylesheet">
</head>
<body>
   <div class="header">
    <ul class="top__menu">
        <li class="logo"></li>
        <li><a>Контакты</a></li>
        <li><a>Продукты</a></li>
        <li><a>Доставка</a></li>
    </ul>
    <ul class="top__info">
        <li class="top__menu_left__text">Ми на карте</li>
        <li>8 (495) 902-58-86<br>8 (495) 902-58-84<br>8 (495) 902-63-01</li>
    </ul>
   </div>
        <div class="first__Div">
            <ul class="aling__first">
                <li class="video">
                    
                </li>
                <li>
                <div class="first__div__text">
                <h1>Gloria.com</h1>
                <h3>Качество производство</h3>
                <h3 class="first__Div__h3__pading">стрейч пленки</h3>
                </div>
                </li>
            </ul>
        </div>

       <div class="second__Div">
           <ul>
               <li class="screch__description">
                   
               </li>
               <li class="second__Div__text"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
               </li>
           </ul>
       </div>
           <div class="third__Div">
               НАШИ ПРОДУКТИ
           </div>
           <div class="forth__Div">
               <li>
                   <img src="img/screchcolor.jpg">
                   <div class="forth__div__parts">
                   <p class="forth__Div__title">СТРЕЙЧ ПЛЕНКА</p>
                   <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae 
                   </p>
                       <a href="#" class="buttonShow">ПОСМОТРЕТЬ</a>
                   </div>
               </li>
              <li>
                   <img src="img/screchcolor.jpg">
                   <div class="forth__div__parts">
                   <p class="forth__Div__title">СТРЕЙЧ ПЛЕНКА</p>
                   <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae 
                   </p>
                       <a href="#" class="buttonShow">ПОСМОТРЕТЬ</a>
                   </div>
               </li>
        
              <li>
                   <img src="img/screchcolor.jpg">
                   <div class="forth__div__parts">
                   <p class="forth__Div__title">СТРЕЙЧ ПЛЕНКА</p>
                   <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae 
                   </p>
                       <a href="#" class="buttonShow">ПОСМОТРЕТЬ</a>
                   </div>
               </li>
               <li>
                   <img src="img/screchcolor.jpg">
                   <div class="forth__div__parts">
                   <p class="forth__Div__title">СТРЕЙЧ ПЛЕНКА</p>
                   <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae 
                   </p>
                       <a href="#" class="buttonShow">ПОСМОТРЕТЬ</a>
                   </div>
               </li>
           </div>
           <div class="news__div">
                  <h1>НОВОСТИ</h1>
                  <ul>
                      <li class="forth__div__parts">
                      <p class="news__title">Банки лишеные лицензии</p>
                      <p class="news__date">12.01.2015</p>
                      <p class="news__continue">читать далее ></p>
                      </li>
                      <li class="forth__div__parts">
                      <p class="news__title">Банки лишеные лицензии</p>
                      <p class="news__date">12.01.2015</p>
                      <p class="news__continue">читать далее ></p>
                      </li>
                  </ul>
               </div>
       <div class="footer">
           <div><h4>Качество производство</h4>
               <h4 class="footer__h4__pading">стрейч пленки</h4></div>
   </div>
   
</body>
</html>