body{
    min-width: 950px;
    font-family: 'MuseoSansCyrl_500' !important;
    background: url("../img/tennisSNWallpaper.jpg");

}

strong
{
    font-family: 'MuseoSansCyrl_900' !important;
}

.alert{
    font-size: 12px !important;
}

hr{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

*, :active, :hover{
    outline: none !important;
}

.wrapper{
    width: 900px !important;
    max-width: 900px;
    margin: auto;
}

.container{

}

.clear{
    both:clear;
}

.auth__form{
    width: 500px;
    margin: auto;
}

/* aligners{ */
    .align-center{
        text-align: center;
    }

    .align-right{
        text-align: right;
    }
/* } */

.avatar__image__holder img{
    width: 100%;
}

.bg__tennis__image{

}

.thrumb-photo img{
    height: 100px;
}


.navbar-brand{
    background: url(../img/tennisIconG.png);
    padding-left: 27px;
    background-repeat: no-repeat;
    background-position: left center;
}

.photo__form{
    width: 700px;
    margin: auto;
}

.sm-txt{
    font-size: 12px;
    margin-bottom: 3px;
}
.xsm-txt{
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/**
*full size button
*/
.fs{
    width: 100%;
}


.helpTooltip
{
    width: 20px;
    display: inline-block;
    text-align: center;
    height: 20px;
    border-radius: 50px;
    border: 1px solid  #000;
    font-size: 14px;
    padding: 2px;
    line-height: 14px;
    float: right;
}


/* usersContainerInstanses{ */

    .actionsContainerGames
    {
        margin-top: 10px;
    }
    .gameContainer{
        background: #fff;
        color: #000;
        margin: -5px -5px 5px -5px;
        border-bottom: 1px solid grey;
    }
    .gameContainer:hover{
        background: #E0E0E0;
    }
    .usersContainer{
        padding: 10px;
    }

    .usersContainer div{
        display: inline-block;
        vertical-align: top;
        width: 118px;
        padding: 9px;

    }

    .usersContainer div img{
        width: 100px;
        height: 100px;
    }

    .usersContainer div p{
        padding: 5px 2px;
    }

    .userInformationContainer p{
        width: 49%;
        display: inline-block;
        font-size: 12px;
    }

    .userInformationContainer .l{
        text-align: right;
        padding-right: 20px;
    }

    .userInformationContainer .r{
        text-align: left;
        padding-right: 10px;
    }


    .flashmessagesContainer{
        height: 45px;
    }

    .FlashMessagesTunesContainer .alert
    {
        margin-bottom: 0px !important;
    }

    .emptyContainer{
        padding: 30px;
        text-align: center;
        border: 2px dashed grey;
        color: grey;
    }

    .containerClubs .cardClub{
        display: inline-block;
        margin: 5px;
        vertical-align: top;
    }
    .clubInformationContainer, .clubInformationContainer p{
        font-size: 12px;
        margin: 5px;
    }
    .clubInformationContainer hr{
        margin: 0px 30px;
    }

    .usersSmallContainer{
        margin-top: 5px;
    }

    .usersSmallContainer div{
        display: inline-block;
        width: 60px;
        font-size: 11px;
        margin: 2px;
    }

    .notFoundContainer{
        padding: 40px;
        border: 2px dashed grey;
        color: grey;
    }

    .mailSendContainer {
        padding: 100px;
    }

    .resultsContainer{
        background: #fff;
        color: #000;
    }

    .calendarContainer
    {
        background: #fff;
    }

    .tennisHeroContainer
    {
        padding: 40px;
    }

    .alertContainerFixed
    {
        position: fixed;
        top:10px;
        margin: auto;
        left: 0px;
        right: 0px;
        width: 600px !important;
    }

/* } */

/* avatarsUser{ */
    .avatarFriends, .image100x100{
        width: 100px;
        height: 100px;
    }
    .avatarFriendsMessages, .avatar50x50, .image50x50{
        width:50px;
        height: 50px;
    }

    .avatar80x80{
        width:80px;
        height: 80px;
        border: 1px solid grey;
    }

    .avatarUsersSmallContainer{
        width: 60px;
        height: 60px;
    }

    .avatarMainPage{
        width: 218.3px;
        height: 218.3px;
    }
    .avatarClubMid{
        width: 100px;
        height: 100px;
    }

/* } */




/* textareas{ */
    .textaresMessageBody{
        resize: vertical;
        font-size: 12px;
    }
    .textareaInfo{
        resize: vertical;
        font-size: 12px;
        padding: 3px !important;
    }

    .editableColumn{
        background: #fff;
        color: #000;
        margin: 2px;

    }

    .clubMessageTextarea{
        min-height: 100px;
    }

/* } */


/* tables{ */
    .tableTunes{
        width: 100% !important;

    }
    .tableTunes td{
        width: 24% !important;
    }
    .tableTunes .editableColumn{
        border: 1px solid grey !important;
    }

    .tableTunes p.editableColumn
    {
        padding: 8px;
    }

    .tableTunesPlaceholder
    {
        background: #fff;
        padding: 10px;
    }

    .tableTunesPlaceholder tr td, .tableTunesPlaceholder tr
    {
        border: none !important;
        font-size: 14px !important;
    }


    .userPlanPlaceholder
    {
        padding: 30px;
    }

/* } */


/* messages{ */
    .messagesLeft{
        text-align: left;
    }
    .messagesRigth{
        text-align: right;
    }
    .messagesContainer{
        height: 300px;

        background: #fff;
        color: #000;
        margin: -5px -5px 30px -5px;
        overflow-y: scroll;
        position: relative;
    }

    .messagesContainer .messagesLine{
        width: 92%;
        position: absolute;
        bottom: 0px;
        left: 30px;
        font-size: 12px;
    }

    .messageSendContainer{
        padding-bottom: 15px;
    }




    .messagesContainer .messagesLine > div > div{
        padding: 5px;
    }

    .userMessagesContainer a:first-child div{
        margin-top: -5px;
    }

    .userMessagesContainer a:last-child div{
        margin-bottom: -5px;
    }

    .messageUserContainer{
        color: #000;
        padding: 20px 10px;
        margin: 0px -5px;
        border-width: 0px 0px 1px 0px;
        border-color: #2b3e50;
        border-style: solid;
    }
    .messageUserContainer:hover{
        background: #fff;
    }

    #ajaxMessagesContainer
    {
        position: fixed;
        top: 40px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 700px;
    }
    
    .newsContainer{
        background: #fff;
        color: #000;
        margin-top: 30px;
    }

    .newsContainer > div
    {
        padding: 20px;
        border-bottom: 1px solid #78909C;
    }

    .newsContainer > div > p
    {
        text-align: right;
    }

/* } */

/* margins{ */
    .margin15px{
        margin: 15px;
    }
    .marginTop-10{
        margin-top: -10px;
    }

.marginTop-20{
    margin-top: -20px;
}

.marginTop-30{
    margin-top: -30px;
}
/* } */


/* avatarUploadBlock */
.avatarUploadHolder{
    margin-bottom: 15px;
}

.avatarUploadedHolder img{
    width: 100%;
}
.avatarUploadedHolder{
    margin-bottom: 15px;
}
/* } */

/* grids{ */
    .userPhotosGrid{

    }

    .userPhotosGridImageHolder{
        display: inline-block;
        width: 228px;
        height: 228px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .userPhotosGridImageHolder img,
    .userPagePhotosGridImageHolder img,
    .PhotosGridImageHolder img
    {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .userPagePhotosGridImageHolder, .PhotosGridImageHolder{
        display: inline-block;
        width: 110px;
        height: 110px;
        margin-right: 3px;
        margin-bottom: 5px;
    }


/* } */

/* forms{ */
    .formBody{
        padding: 30px;
    }

    .form-padding{
        padding: 40px;
    }
/* } */


/* titles{ */
    .partTitle{
        margin: 10px 5px;
        font-size: 13px;
    }
    .partTitleSm{
        margin: 3px;
        font-size: 13px;
    }

    .lineTitleCard{
        margin: 5px 0px;
        font-size: 11px;
    }

    .cardTitle{
        font-size: 12px;
        margin: 7px 0px;
    }

    .titleSpec1{
        margin: 5px;
    }

/* } */


/* specialInputas{ */
    .hoursSelect{
        width: 50px !important;
        display: inline-block !important;
    }
    .inputPlayHours
    {
        width: 30px;
        display: inline-block;
        margin: 0px 6px;

    }

/* } */


/* buttons{ */
    .btnCustomMarginTop{
        margin-top: 30px;
    }

    .btn-uploadPhoto{
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
    }

    .btnTrayOpen
    {
        width: 100%;
        font-size: 12px;
        padding: 8px;
        text-align: left;
        margin-top: 5px;
    }

    .btnAdd, .btnSendMessage, .btnMore, .btnSave{
        background: #78909C;
        width: 100%;
        font-size: 12px;
        padding: 8px;
    }
    .btnAdd:focus, .btnMore:focus{
        background: #37474F;
    }
    .btnAdd:hover, .btnMore:hover{
        background: #607D8B;
    }
    .btnAdd:active, .btnMore:active{
        background: #37474F;
    }


/* } */


/* sections{ */
    .sectionMarginBottom{
        margin-bottom: 5px;
    }

/* } */



/* aligners{ */
    .rowAligner{
        margin: 0px -6px;
    }
/* } */


.width-parent{
    width: 100%;
}



/* markers{ */
 .markerWin
 {
     color: red;
 }

/* } */




/* holders&Objects{ */

    .setNewInputButtonHolder
    {
        position: relative;
    }

    .setNewIputButton
    {
        position: absolute;
        right: 10px;
        top: 10px;
    }


/* } */



.inProcessBody{
    background:#fff url("../img/gif.gif");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 120px;

}


/* custom */

.noUi-tooltip
{
    margin-top: -20px;
}


.bgSlide1
{
    background: url('../img/slide1.jpg');
    background-position: center center;
    color: #df691a;
    background-size: cover;
}

.bgSlide2
{
    background: url('../img/slide2.jpg');
    background-position: center center;
    color: #df691a;
    background-size: cover;
}

.bgSlide1 h1, .bgSlide1 p,
.bgSlide2 h1, .bgSlide2 p{
    background: #fff;
    display: inline-block;
}