body{
    min-width: 950px;
}
*, :active, :hover{
    outline: none !important;
}

.wrapper{
    width: 900px !important;
    max-width: 900px;
    margin: auto;
}

.container{

}

.clear{
    both:clear;
}

.auth__form{
    width: 500px;
    margin: auto;
}
.align-center{
    text-align: center;
}